h2 {
  text-align: center;
  text-decoration: underline;
}
.covid1-result,
.covid-result {
  margin: auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding-top: 20px;
}
.row {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  margin-top: 20px;
  width: fit-content;
}
.row2{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  width: fit-content;
  margin: 30px auto 0px auto ;
}
.box {
  width: 150px;
  padding: 10px 0px;
  text-align: center;
  border: 2px solid #aaa;
  border-radius: 10px;
}
.box:hover {
  border-color: #000;
  transform: scale(1.05);
}
.box p:nth-child(odd) {
  height: 65px;
  font-weight: 900;
  text-decoration: underline;
}
.box p:nth-child(even) {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
