.search-box {
  width: 100%;
  text-align: center;
}
.search-box input {
  width: 30%;
  padding: 15px;
  font-size: 17px;
  padding-left: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #aaa;
}
@media screen and (max-width: 600px),(max-width:900px) {
  .search-box input{
    width: 320px;
  }
}
.search-list {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}
@media screen and (max-width: 600px),(max-width:900px) {
  .search-list{
    width: 320px;
  }
}
.search-list p {
  font-size: 16px;
}
.search-list p:hover {
  font-weight: bold;
  text-decoration: underline;
}
.search-box .search-list:empty {
  display: none;
}
.world-content {
  margin-top: 100px;
}
.warning {
  font-weight: bold;
  font-size: 16px;
  color: red;
  text-align: center;
}
.clear-search{
  position: absolute;
  margin-top: 16px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  margin-left: -35px;
  color: #aaa;
}
.clear-search:hover{
  color: black;
  transform: scale(1.1);
}
