body{
  font-family: 'Poppins', sans-serif;
  padding: 30px 0px;
}
h1{
  text-align: center;
  text-decoration: underline;
}
.container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 30px 80px;
  border-radius: 10px;
}